<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies Page</title>
</head>
<style>
    table th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;

    }

</style>
<body>

<a href="/addCompany">Add Company</a><br>
ALL COMPANIES:
<table>
    <tr>

        <th>Name</th>
        <th>Size</th>
        <th>Address</th>
        <th>action
        </th>

    </tr>
    <tr th:each="company:${companies}">
        <td th:text="${company.name}"></td>
        <td th:text="${company.size}"></td>
        <td th:text="${company.address}"></td>
        <td><a th:href="@{'/deleteCompany/'+${company.id}}">DELETE</a>  </td>

    </tr>
</table>
</body>
</html>